############################
# Maven
############################
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

############################
# Logs
############################
*.log

############################
# IDE - IntelliJ
############################
.idea/
*.iws
*.iml
*.ipr

############################
# IDE - Eclipse / STS
############################
.project
.classpath
.settings/
.springBeans
.sts4-cache/

############################
# VS Code
############################
.vscode/

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Compiled files
############################
*.class

############################
# Package files
############################
*.jar
*.war
*.ear

############################
# Test reports
############################
/surefire-reports/
/failsafe-reports/

############################
# Spring Boot Devtools
############################
.restart

############################
# Environment
############################
.env
